<!DOCTYPE html>
<html>
    <head>
        <meta charset="Utf-8" />
        <title>Laura</title>
        <link rel="stylesheet" href="/stylesheet/style.css">
    </head>

    <body>
        {{{body}}}
    </body>

</html>